
* { font-family: 'Chakra Petch', sans-serif;}

a, a:visited, .alink { color:#5B74CF;
    cursor: pointer; }

body { background:#000; color:#fff; font-family:Calibri, Arial, Sans-Serif; margin:.5em; }

body.pWhite, .pWhite .master  {background:#fff!important; color:#000!important;}
        .pWhite .blackOutFadeBG { background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.pWhite .technotes { background:#f1f1f1!important;}
.pWhite #navMenu a { background: #000; }

.pWhite a, .pWhite a:visited, .pWhite .alink { color:#A2B590; }


ul, li { list-style: none; margin:0; padding:0; }
#pageBlock  { max-width: 1000px; margin:40px auto 0 auto;}

/* #navMenu a, #navMenu a:visited, #navMenu a:hover { border:0 none; outline:0 none; padding:0; margin:0; } */
#menuList a, #menuList a:visited, #menuList a:hover { text-decoration:none; color:#fff; }
#menuList img { border:0 none; margin:0 1px;}
.clearer { float:left; position:relative; clear:both; width:100%; }
#tmmCube { position:absolute; width: 100px; height:100px; overflow: hidden; margin:0; z-index:99; cursor: pointer; }
#menuPreloader { width:60px; height:60px; margin:4px 0 0 -18px; display: block; }
#tmmCube img, #menuPreloader img { width:100%; height:100%; }

#tmmOpening { position:absolute; background:transparent url(/wwwroot/images/open_sprite.png) no-repeat top left; width: 100px; height:90px; overflow: hidden; margin:0; z-index:100;}

.topHeader { position:relative; clear:both; margin:25px 5px 20px 5px; height:141px; padding:0; z-index:101; }
#menuLabel { position:absolute; width:100%; bottom:5px; left:3px; font-size:22px; font-weight: bolder; margin:5px 0 0 5px;
        font-size:15px; font-weight: bolder; width:100%; letter-spacing: 2px; }
#menuList { float:right; margin:7px 0 0 0; width: 100%; }
#menuList li { padding: 5px; }
#menuList li img { height:20px; float:left; margin-right:7px; }

.menuBox { display:block; position: relative; }
.menuBox > img { opacity:.50; filter:alpha(opacity=50); width:100%; }
.menuBox.selected > img { opacity:1; filter:alpha(opacity=100); }
.menuBox, .menuEmpty { background: none; position:relative; float:left; width:18px; height:18px; margin:0; cursor:pointer; padding:0; }
.menuBox { border:1px solid #fff; overflow: hidden; }
.menuBox.menuEmpty { border:none; cursor:pointer; overflow:visible;}

a.navItem { margin:5px .5%;}
a.navItem.selected { color:red; }


.prjSection { width:100%; position:relative;  font-size:14px; margin:10px 0; clear:both}
.prjSection img { width:97%; }
.prjSection li:before {
    content: "•  ";
    color: lightslategrey;
}
.alphalist li:before { color:#1aa403;}l
.competitorlist li:before { color:red;}
.marketresearch li:before { color:purple;}
.datelist li:before { color:#fff;}
.expenselist li:before { color:#ff7901;}

.projects_table { font-size:13px; margin-top:20px}
h2, h3 { margin:0 }

.project_header { margin-bottom:10px; border-bottom:1px solid #ccc; }
.project_header a { text-decoration:none; }
.project_header h3 { font-size:150% }

.lineName { color:#a0a09f;}
.technotes { margin:15px 0 15px 0; border:1px solid #a0a09f; display:block; width:100%;
    font-family:courier, monospace; font-size: 14px; line-height: 22px; }
.technotes ul {  padding:5px 10px;}
.technotes p { margin:5px 0; list-style:circle; }
.technotes li { margin: 5px 0 0 15px; list-style:square; list-style-position: outside; }
.prjDesc { font-size: 14px; line-height: 22px; text-align:justify;   }
.technotes { background:#090909; word-break:break-word }
.prjDesc img, .technotes img { width:97%; }
.team a{ font-size:125%; }
.project_dates { float:right; font-size:11px; color: #dadada; margin-bottom: 2px}

.sectTitle { margin:0; font-size:16px; text-decoration: underline; margin-top:15px; text-transform: capitalize;}
.sectTitle img { width:30px; height:30px; margin:0 5px 0 0; float:left; }
.prjSection li { list-style: none; padding-left:2px }
.prjPitch {font-size: 18px; line-height: 22px;}
.prjPitch a { font-size:normal; }
.prjLinks { margin:-5px 0 15px 0; }
.snapshots { float:left; display: block;  width: 49%; margin: 0 5px 0 0;}
.snapshots img { width:100%; max-width:400px; margin:10px 0 }

section { margin:10px 0 0 0; padding:0; }
section > h3 { width:100%; border-bottom:1px solid #ccc; margin:0 0 5px 0; }
section h4 { margin:0; }
.userEducation { margin-top:40px; }
.userSummary { margin-bottom:40px; }
.userSummary ul, .userEducation ul {padding:auto; margin:0;}
.userEducation li, .userSummary li  { list-style-type:disc; margin-left:25px;}
.myrole {font-weight:bolder; font-size: 120% }

/*
.prjBiz {font-size: 13px;} .prjBiz li  { list-style:decimal; }
.prjCosts {font-size: 13px; } .prjCosts li  { list-style: circle; }
.prjDates {font-size: 13px;} .prjDates li  { list-style:upper-roman; }
*/

.projectImgMask, .reflectionMask  { width:100%; position:relative;}
.reflectionMask { max-height:250px; overflow:hidden; }
.projectImgMask a { outline: 0 none; border:0 none; }

.reflectionMask img, .reflectionMask video {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
            width:100%;
            opacity:.15; filter:alpha(opacity=15);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

/*
.reflectionMask:after {
    content:"";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.67) 49%, rgba(0, 0, 0, 1) 100%);
}
 */

.blackOutFadeBG {
    height: 60px; /*from where it starts to fade to where it ends*/
    position: absolute; /*so it can overlap the #container*/
    width: 100%; /*has to be the same as #container*/
    bottom:0; /*position it right at the bottom of the #container*/
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.blackOutFadeBG a { position: absolute;bottom: 10px;left: 4px;text-align: center; width:100%; display: block;}
.prjSection  .blackOutFadeBG { height:30px; }
.hl_menu { text-align: left; }

#navMenu .menuEmpty:last-child { width:auto; height:auto; }

#closeBtn { position: absolute; bottom:3px; right:5px; cursor:pointer; font-size:9px; font-weight: bolder; margin:5px 0 0 5px; letter-spacing: 2px; color:#ED2024;  }
#menuBtn { position:absolute; right:3px; top:5px; cursor:pointer; font-size:9px; font-weight: bolder; letter-spacing: 2px; }

.mainNav {padding-top:17px; text-align:right;}

#navMenu .tc{ clear:none; }
#navMenu .ll{ clear:left; }
#navMenu .lc{ clear:none; border:none; }
#navMenu .rc{ clear:none; }
#navMenu .rr{ clear:right; }
#navMenu .bc{ clear:none; }

.optionsHeader { margin-top:-30px;}
.pItem { margin:10px 0 10px 0; padding:0; clear:both; }
.pItem h3 { margin:0; padding:0; font-size:110%; font-weight:lighter; }
.pItem h4 { color:#ED2024; margin:0; padding:0; font-size:90%; font-weight:lighter; }
.pItem p {margin:0 0 10px 0; line-height:25px;}
.pItem .firstPara { margin-top:10px;}
.redtxt { color:#ED2024; }
.graytxt { color:#6D6D6D; }

.thWrap { width:50px; float:left; clear:none; margin:0 5px 5px 0; }
.thWrap img {width:50px; margin:0 5px 5px 0;}

.pageSnap { width:100%; clear:both; position:relative; margin:5px auto; }

.list { margin:20px; list-style:disc; }

/*
.starSprite { background:transparent url(http://trackauthoritymusic.com/wwwroot/images/characterRotateSprite.png?v=1358932174) 0 0 no-repeat; padding:0; overflow:hidden; width:175px; height:175px; z-index:9999999; }
*/

.master { position:relative; width:100%; max-width:100%; z-index:2;}

.mainMenu .navRow:first-child { border-radius:10px 0 0 0; -moz-border-radius:10px 0 0 0; }
.mainMenu .navRow:last-child { border-radius:0 10px 0 0; -moz-border-radius:0 10px 0 0; }
.mainMenu .navRow { background:#242424; color:#fff; font-size:15px; vertical-align: middle; padding-top:4px; padding-bottom:4px;  }
.mainMenu .navRow a { color: #fff; }

/* tables */
/* table { table-layout:fixed;} */
table .header { width:auto; color:#a0a09f;}

.tablesorter { margin:30px 0 15px 0; width: 100%; text-align: left; position: relative; }
.tablesorter th, .tablesorter th { padding: 4px; font-weight: bolder; font-size:13px; }
.tablesorter th.col3 { background-position: right center; padding-bottom: 20px;}

.tablesorter tbody td { padding: 4px; vertical-align: top; }

.tags_table .col1, .tags_table .col3 { width:33%;}
.tags_table th.col1 { background-position: left center; }
.tags_table th.col2 { background-position: center center; }
.tags_table th.col3 { background-position: right center; }

.tablesorter thead tr {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.tablesorter thead tr th { float:none; height:40px; background-image: url(/wwwroot/images/bg.png); background-repeat:no-repeat; background-position:left center;
                          cursor: pointer; }
.tablesorter thead tr .headerSortUp {	background-image: url(/wwwroot/images/asc.png); background-repeat: no-repeat; color:red;}
.tablesorter thead tr .headerSortDown {background-image: url(/wwwroot/images/desc.png); background-repeat: no-repeat; color:red;}
.tablesorter thead tr .headerSortDown, .tablesorter thead tr .headerSortUp {}

.tablesorter h3 {margin:0 0 10px 0; font-size:16px;}
table{ border-collapse:collapse; }
/* tr.odd { border-top:1px solid #a0a09f; border-bottom:1px solid #a0a09f;  } */
.pBlack .tags_table td.col1 { background: -webkit-linear-gradient(-45deg, #2b2b2b 0%, #000000 90%); }
.pBlack .tags_table td.col3 { background: -webkit-linear-gradient(-45deg, #000000 15%, #2b2b2b 100%); }


.rowMargin {height:15px; background:transparent;}
.groupBlock { margin-bottom:20px; }

.pBlack .tags_table tr.odd .col1, .pBlack .tags_table tr.odd .col3 { background:black; }

.static td { background:none!important; height:0; display: none; }

.mask0x250 { max-height:250px; overflow:hidden; position: relative; display:block; }
.arrowUp {
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 100px 100px 100px;
border-color: transparent transparent #007bff transparent;
}

.tablesorter p { margin:10px 0 0 0; }
.image_src { width:25%; min-width: 25%; margin-right:5px; align-self: flex-start!important }
.imageGridItem { display: inline-block; }
.imageGridItem img, .imageGridItem video { width: 100% }

@media only screen and (max-width : 600px) {
    .projectRow .row { flex-wrap:wrap-reverse}
    .projectRow .col { width:100%!important; min-width:100%!important; }
    .reflectionMask {max-height:150px; margin-bottom: 20px;}
}

.iconImg { max-height:50px; }
.nolink, .nolink:visited, td a.popInfo { text-decoration:none; color:inherit; }

.tablesorter th.collapsed, .tablesorter td.collapsed { display: none; }
.chkSelector { float:left; padding:2px 5px 0 5px; vertical-align:top; margin:0 5px 5px 0; background:#8dbdd8; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }


.col1, .col2 { text-align: left; }
.col3 { text-align: right; }

.col2 h3 { font-size:170%; }
.tablesorter td.project_startdate { padding-top:28px; }

.projectLink { width:100%; margin:0 auto 15px auto!important; text-align:left; font-weight:900; }

tr.spacer { height:15px; }
.tags_table tr { border:1px solid #000; vertical-align:middle;
    align-items: center;
    display: flex;
    justify-content: space-between; }
.tags_table td.col1, .tags_table td.col3 { font-size:12px; padding:1%; }

.projects_count { font-size:12px; vertical-align: baseline; text-align: right; }

.userProfile { margin-bottom:40px; }
.userHeader { margin-bottom: 10px; }
.userName { margin:0; }
.userContact span { white-space: pre; }
.userBio { margin-top:15px; }
.userBio .letterhead { margin-top:5px; }

.caption { display:block; margin: 0 6px 0 5px;
    font-weight: 900;
    text-decoration: underline;}

#qTagSelector, #qTagSelector option { text-transform: capitalize; font-size: 16px;
         background:black ; color: white; outline:0 none; border: 0 none;
         font-weight: bolder; vertical-align: middle; margin:0;}

.pWhite #qTagSelector, .pWhite  #qTagSelector option { background:#fff ; color: #000;  }

.projectsTitle { margin: 10px 0; text-transform: capitalize; font-size: 20px; }


.tag_key { font-size:115%; text-align: center; text-transform: capitalize;  }
.tablesorter .tag_key.header { background-position: center center; padding: 0;  }
.tag_key p { margin-top:-23px; text-align: center; }
.tag_date { text-align: right; }

.galleryBlock { position:relative; width:100%; margin:20px 0 }
.galleryTopBar { float:left; clear:both; width:100%; }
a.fancybox { text-decoration:none; }
.morePics {
    position: absolute;
    z-index: 9999;
    bottom: -43px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.projectImg { width: 100%;   }
.projectImg video { max-height: 90vh; }
.galleryTopBar img, .galleryTopBar video { cursor:pointer; height:100px; width:auto;  margin:0 0 5px 0; }
.galleryImg { position: relative; width:100%; }
.galleryImg img, .galleryImg video { width:100%; }


.sociallinks a { text-decoration: none; }
.sociallinks > * { margin-left:10% }
.sociallinks > *:first-child { margin-left:0 }
.sociallinks img { height:40px }
.teamInviteLink { color:red; font-size:11px; float:left; margin:7px; clear:both }

#softNotice { display:none; position:fixed; bottom:10px; right:10px; min-width:300px; max-width:600px;
              border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; z-index: 999;
              -moz-box-shadow: 3px 3px 3px #ccc; -webkit-box-shadow: 3px 3px 3px #ccc; box-shadow: 3px 3px 3px #ccc;
              background:rgb(100, 149, 237); }
#softNoticeBody { padding:10px; position: relative; color:#000; font-size:15px; font-weight: bolder;  }
.closeBtn { position: absolute; right: 0; top: 0; z-index: 99999; clear:none; margin:-8px -6px 0 0; text-align:center; font-weight: bold; background:red; width:20px; height:20px;
            border-radius:10px;-moz-border-radius:10px; -webkit-border-radius:10px;
            -moz-box-shadow: 2px 2px 2px #aaa; -webkit-box-shadow: 2px 2px 2px #aaa; box-shadow: 2px 2px 2px #aaa;
            color:#fff; cursor: pointer; }
 #softNoticeBody a, #softNoticeBody a:visited { color:purple; }
 .companyLogo { max-height:30px; max-width:120px; margin-top:3px }
 .projectTags .lineName { font-size:11px; }
 .instruct { font-size:80%; }
 .employmentSpan { float:right; }

.fadedImgContainer {
    position: relative;
}

.fadedImg {
    display: block;
    height: auto;
    transition: opacity 0.5s ease;
    border-radius: 0 0 0 10px;
    /* Apply the gradient to fade the edges */
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0), #000);
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0), #000);
}

 dl.detailList { padding: 0; margin:4px 0 0 0}
.detailList dt {
    float: left;
    clear: left;
    margin:0;
    font-size:80%;
    vertical-align:middle;
  }
.detailList dd {
    margin:0 0 3px 128px;
    padding: 0;
    vertical-align:middle;
 }

 /* PHONES */
@media only screen and (max-width : 500px) {
    .sociallinks img { height:30px }
    .tags_table .col1, .tags_table .col3 { width:66px; }
    /* #tagLinks { width: 100%;text-align: center;margin:20px 0 10px 0;float: left;} */
    #tagLinks { position: absolute; top: 0;right: 0; padding-top:0;}
    a.navItem { clear:right; float:right; }
    .topHeader { margin:10px 5px 20px 5px; }
}

/* quick Grid implementation */
.row {
    display: flex;
    flex-wrap:nowrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.projects_table .col, .tags_table .col {
    min-width:33%;
}

.projectRow { margin:10px auto 20px auto; }

.projectRow .col { align-self: flex-start;}

.aline { display:flex; align-items:center}
.aline img { margin-right:3px; margin-left:3px }

.row .col:last-child { flex-grow:1; }
.companySection { margin-top:10px; margin-bottom:10px }
.companyHead { font-size:12px; cursor:pointer}
.companyHead h2 { font-size:130%; }
.companyHead .col.daterange {text-align:center}
.companyHead .letterhead { padding:10px 5px }
.companyHead .companyRegion { text-align: right; margin-right:25px }

#cubeHolder {
    position: absolute; top:50px; left:50%;
  -webkit-perspective: 200px;
  -webkit-perspective-origin: 50% 50px;
}

#domCube {
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
}
.face {
  position: absolute;
  height: 80px;
  width: 80px;
  padding: 10px;
  background-color: rgba(50, 50, 50, 0.7);
}

#domCube  > div:first-child {
    -webkit-transform: rotateX(90deg) translateZ(50px);
    -moz-transform: rotateX(90deg) translateZ(50px);
    transform: rotateX(90deg) translateZ(50px);
}

#domCube > div:nth-child(2) {
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    transform: translateZ(50px);
}

#domCube > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(50px);
    -moz-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
}

#domCube > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(50px);
    -moz-transform: rotateY(180deg) translateZ(50px);
    transform: rotateY(180deg) translateZ(50px);
}

#domCube > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    -moz-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px);
}

#domCube > div:nth-child(6) {
-webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
-moz-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
}


/* MUI STUFF */
.chip-container {
    display: flex;
    flex-wrap: wrap; /* Allow chips to wrap to next line if needed */
}

footer .chip-container {
    justify-content: space-between;
    width:100%;
}

.chip {
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 2px 6px;
    border-radius: 10px;
    position: relative;
    background-color: rgba(91, 116, 207, 0.5); /* Set background color */
}
.pWhite .chip {
    background-color:#A2B590;
}
.pWhite .chip a {
    color: #181818; /* Set text color */
}

.letterhead .chip {
    background: rgba(255, 255, 255, 0.5); /* Set background color */
    font-size:12px;
}

.cv_cover { height: 96vh; position: relative;
    justify-content: space-between; }

.letterhead {position:relative; overflow: hidden;
    border-radius: 3px;
    padding:2px 8px; z-index: 1}
.letterhead .bg { position:absolute;
    width: 100%;
    height:100%; top:0; left:0;
    margin:0; z-index: -999;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.letterhead .masked {
    mask-image: linear-gradient(-45deg, rgba(162,181,144,1) 10%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, rgba(162,181,144,1) 90%);
    filter:brightness(.4);
}
.cv_cover .letterhead .masked {
    mask-image: linear-gradient(-45deg, rgba(162,181,144,1) 10%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.3) 50%, rgba(162,181,144,1) 90%);
    filter: brightness(.3);
}

.pWhite .userBio .letterhead .masked {
    mask-image: linear-gradient(-45deg, rgba(162,181,144,1) 10%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.3) 50%, rgba(162,181,144,1) 90%);
    filter: brightness(.4);
}

.projects_table .letterhead .masked {
    mask-image: linear-gradient(-45deg, rgba(0,0,0,0.4) 10%, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,.1) 70%, rgba(0,0,0,0.15) 90%);
    filter: grayscale(1);
}

.letterhead .bg {
    filter:brightness(.4);
}

.a4_header { background:transparent url(/wwwroot/images/a4_header.png) no-repeat top left;
    background-size: contain;
    width: 100%; min-height:50px; overflow: hidden; margin:0;
}

.cv_cover .chip-container { margin:4px auto 0px auto}

@media only screen  {
    .pageBreak { margin-bottom:100px }
}

/*
.caret {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 7px solid #5a5a5a;
  border-right: 0;
  transition: all 0.3s ease;
}

.caret.expanded {
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-top: 40px solid #ffffff;
  border-bottom: 0;
  transform: rotate(0deg);
}
*/

.caret {
  position: absolute;
  width: 24px;
  top:22%;
  right:0;
  cursor: pointer;
  transform:translate(0%, 25%)
}

.caret path, .caret path d, .caret svg {
  fill: #ffffff;
  transition: d .5s ease;
}

.caret.opened path {
/*  d: path("M5 30 L10 0 L9.33 0 L5 25.91 L0.67 0 L0 0 L5 30 Z"); mine */
    d: path("M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z")
}

.caret.closed path {
  d: path("M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z");
}


/*
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
*/
