/* Author : Eli A. Taylor */
.narrowscreen .master { width:100%!important; max-width:100%!important;}
.widescreen .master { width:100%; max-width: 1000px; margin: 0 auto; }

.mainMenu .navRow:first-child { border-radius:10px 0 0 0; -moz-border-radius:10px 0 0 0; }
.mainMenu .navRow:last-child { border-radius:0 10px 0 0; -moz-border-radius:0 10px 0 0; }
.mainMenu .navRow { background:#242424; color:#fff; font-size:15px; vertical-align: middle; padding-top:4px; padding-bottom:4px;  }
.mainMenu .navRow a { color: #fff; }

table .header { width:auto; } /* very different elements */

body, #backSplash { font-family:Calibri, Arial, Sans-Serif; }
a, a:visited, .alink { color:#5B74CF; }

/* tables */
.tablesorter {
	margin:10px 0 15px 0;
	font-size: 8pt;
	width: 100%;
	text-align: left;
        position: relative;        
}
.tablesorter thead tr th, .tablesorter tfoot tr th {
	border: 1px solid #a0a09f;
	font-size: 8pt;
	padding: 4px;
}
.tablesorter thead tr .header {
	background-image: url(/wwwroot/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
        float:none;
	cursor: pointer;
}
.tablesorter tbody td { padding: 4px; vertical-align: top; }
.tablesorter h3 { margin:0; font-size:120%;}
/* .tablesorter tbody tr.odd td { background-color:#090909; } */
table{border-collapse:collapse;}

/* tr.odd { border-top:1px solid #a0a09f; border-bottom:1px solid #a0a09f;  } */
.even td {
    background: -webkit-linear-gradient(-45deg, #2b2b2b 0%, #000000 66%);
}
.even td + td {
    background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 99%);
}
.even td + td + td {
    background: -webkit-linear-gradient(-45deg, #000000 66%, #2b2b2b 100%);
}
.project_title { width:40%;}
.project_startdate { width:20%;}
tr.spacer { height:15px; }
.tags_table tr.spacer { height:5px; }
.pageTotal { font-size:12px; vertical-align: baseline}

.tablesorter thead tr .headerSortUp {	background-image: url(/wwwroot/images/asc.gif);}
.tablesorter thead tr .headerSortDown {background-image: url(/wwwroot/images/desc.gif);}
.tablesorter thead tr .headerSortDown, .tablesorter thead tr .headerSortUp {}

.tablesorter p { margin:3px 0 0 0; }
.narrowscreen .image_src { width:25%;}

.iconImg { max-height:50px; }
td a.popInfo { text-decoration:none;}

.tablesorter th.collapsed, .tablesorter td.collapsed { display: none; }
.chkSelector { float:left; padding:2px 5px 0 5px; vertical-align:top; margin:0 5px 5px 0; background:#8dbdd8; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }