/*
@font-face {
  font-family: 'Strait';
  font-style: normal;
  font-weight: 400;
  src: local('Strait'), local('Strait-Regular'), url(http://themes.googleusercontent.com/static/fonts/strait/v1/lUDxGkKH3HNEwBuYK6j2SQ.woff) format('woff');
}
h1,h2,h3,h4,h5,h6 { font-family:Strait,Arial,Sans-Serif;}
*/
@media print {
    body, .master  {background:#fff!important; color:#000!important;}
    .blackOutFadeBG { background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
    .technotes { background:#ccc!important;}
}

body.pWhite, .pWhite .master  {background:#fff!important; color:#000!important;}
        .pWhite .blackOutFadeBG { background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.pWhite .technotes { background:#ccc!important;}
.pWhite .projects_table td.col3 { background: none; }

a, a:visited, .alink { color:#5B74CF; }
body { background:#000; color:#fff; font-family:Calibri, Arial, Sans-Serif; margin:.5em; }
ul, li { list-style: none; margin:0; padding:0; }
#pageBlock  { max-width: 1000px; margin: auto;}

/* #navMenu a, #navMenu a:visited, #navMenu a:hover { border:0 none; outline:0 none; padding:0; margin:0; } */
#menuList a, #menuList a:visited, #menuList a:hover { text-decoration:none; color:#fff; } 
#menuList img { border:0 none; margin:0 1px;}
.clearer { float:left; position:relative; clear:both; width:100%; }
#tmmCube { position:absolute; width: 100px; height:100px; overflow: hidden; margin:0; z-index:99; cursor: pointer; }
#menuPreloader { width:60px; height:60px; margin:4px 0 0 -18px; display: block; }
#tmmCube img, #menuPreloader img { width:100%; height:100%; }

#tmmOpening { position:absolute; background:transparent url(/wwwroot/images/open_sprite.png) no-repeat top left; width: 100px; height:90px; overflow: hidden; margin:0; z-index:100;}

.topHeader { position:relative; clear:both; margin:25px 5px 20px 5px; height:141px; padding:0; z-index:101; }
#menuLabel { position:absolute; width:100%; bottom:5px; left:3px; font-size:22px; font-weight: bolder; margin:5px 0 0 5px; 
        font-size:15px; font-weight: bolder; width:100%; letter-spacing: 2px; }
#menuList { float:right; margin:7px 0 0 0; width: 100%; }
#menuList li { padding: 5px; }
#menuList li img { height:20px; float:left; margin-right:7px; }

.menuBox { display:block; position: relative; }
.menuBox > img { opacity:.50; filter:alpha(opacity=50); width:100%; }
.menuBox.selected > img { opacity:1; filter:alpha(opacity=100); }
.menuBox, .menuEmpty { background: none; position:relative; float:left; width:18px; height:18px; margin:0; cursor:pointer; padding:0; }
.menuBox { border:1px solid #fff; overflow: hidden; }
.menuBox.menuEmpty { border:none; cursor:pointer; overflow:visible;}

a.navItem { margin:5px 15px 5px 15px; }
.narrowscreen a.navItem { margin:5px 3px;}
a.navItem.selected { color:red; }


.prjSection { width:100%; position:relative; line-height: 18px; font-size:14px; margin:10px 0; clear:both}
.prjSection img { width:97%; }
.prjSection li:before {
    content: "•  ";
    color: lightslategrey;
}
.alphalist li:before { color:#1aa403;}l
.competitorlist li:before { color:red;}
.marketresearch li:before { color:purple;}
.datelist li:before { color:#fff;}
.expenselist li:before { color:#ff7901;}

.lineName { font-style: italic; color:#a0a09f;}
.technotes { padding:10px; margin:15px 0 15px 0; border:1px solid #a0a09f; display:block; font-family:courier, monospace; font-size: 12px; line-height: 18px; }
.technotes p { margin:5px 0; list-style:circle; }
.technotes li { margin: 5px 0 0 15px; list-style:square; list-style-position: outside; }
.prjDesc { font-size: 12px; line-height: 18px; text-align:justify;   }
.technotes { background:#090909; word-break:break-word }
.prjDesc img, .technotes img { width:97%; }
.team a{ font-size:125%; }

.sectTitle { font-style:italic; margin:0; font-size:16px; text-decoration: underline; margin-top:15px; text-transform: capitalize;}
.sectTitle img { width:30px; height:30px; margin:0 5px 0 0; float:left; }
.prjSection li { list-style: none; padding-left:2px } 
.prjPitch {font-size: 18px; line-height: 22px;}
.prjPitch a { font-size:normal; }
.prjLinks { margin:-5px 0 15px 0; }
.snapshots { float:left; display: block;  width: 49%; margin: 0 5px 0 0;}
.snapshots img { width:100%; max-width:400px; margin:10px 0 }

/*
.prjBiz {font-size: 13px;} .prjBiz li  { list-style:decimal; }
.prjCosts {font-size: 13px; } .prjCosts li  { list-style: circle; }
.prjDates {font-size: 13px;} .prjDates li  { list-style:upper-roman; }
*/

.projectImg { width: 100%; }
.projectImgMask, .reflectionMask  { width:100%; position:relative;}
.projectImgMask img, .reflectionMask img { width:100%; max-width:500px; }
.reflectionMask { max-height:250px; overflow:hidden; }
.projectImgMask a { outline: 0 none; border:0 none; }

/*.projectImgMask:after {
    content:"";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.67) 49%, rgba(0, 0, 0, 1) 100%);
}*/

.reflectionMask img {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1); 
            width:100%;
            opacity:.10; filter:alpha(opacity=10); 
}
.reflectionMask:after {
    content:"";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.67) 49%, rgba(0, 0, 0, 1) 100%);
}

.blackOutFadeBG {
    height: 60px; /*from where it starts to fade to where it ends*/
    position: absolute; /*so it can overlap the #container*/
    width: 100%; /*has to be the same as #container*/
    bottom:0; /*position it right at the bottom of the #container*/
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.blackOutFadeBG a { position: absolute;bottom: 10px;left: 4px;text-align: center; width:100%; display: block;}
.prjSection  .blackOutFadeBG { height:30px; }
.hl_menu { text-align: left; }

#navMenu .menuEmpty:last { width:auto; height:auto; }

#closeBtn { position: absolute; bottom:3px; right:5px; cursor:pointer; font-size:9px; font-weight: bolder; margin:5px 0 0 5px; letter-spacing: 2px; color:#ED2024;  }
#menuBtn { position:absolute; right:3px; top:5px; cursor:pointer; font-size:9px; font-weight: bolder; letter-spacing: 2px; }

.mainNav {padding-top:17px; text-align:right;}

#navMenu .tc{ clear:none; }        
#navMenu .ll{ clear:left; }        
#navMenu .lc{ clear:none; border:none; }        
#navMenu .rc{ clear:none; }        
#navMenu .rr{ clear:right; }       
#navMenu .bc{ clear:none; }        

.optionsHeader { margin-top:-30px;}
.pItem { margin:10px 0 10px 0; padding:0; clear:both; }
.pItem h3 { margin:0; padding:0; font-size:110%; font-weight:lighter; }
.pItem h4 { color:#ED2024; margin:0; padding:0; font-size:90%; font-weight:lighter; }
.pItem p {margin:0 0 10px 0; line-height:25px;}
.pItem .firstPara { margin-top:10px;}
.redtxt { color:#ED2024; }
.graytxt { color:#6D6D6D; }

.thWrap { width:50px; float:left; clear:none; margin:0 5px 5px 0; }
.thWrap img {width:50px; margin:0 5px 5px 0;}

.pageSnap { width:100%; clear:both; position:relative; margin:5px auto; }

.list { margin:20px; list-style:disc; }

/*
.starSprite { background:transparent url(http://trackauthoritymusic.com/wwwroot/images/characterRotateSprite.png?v=1358932174) 0 0 no-repeat; padding:0; overflow:hidden; width:175px; height:175px; z-index:9999999; }
*/

.narrowscreen .master { position:relative; width:100%!important; max-width:100%!important; z-index:2;}
.widescreen .master { position:relative; width:100%; max-width: 1000px; margin: 0 auto; z-index:2; }

.mainMenu .navRow:first-child { border-radius:10px 0 0 0; -moz-border-radius:10px 0 0 0; }
.mainMenu .navRow:last-child { border-radius:0 10px 0 0; -moz-border-radius:0 10px 0 0; }
.mainMenu .navRow { background:#242424; color:#fff; font-size:15px; vertical-align: middle; padding-top:4px; padding-bottom:4px;  }
.mainMenu .navRow a { color: #fff; }

/* tables */
table .header { width:auto; color:#a0a09f;}

.tablesorter { margin:10px 0 15px 0; width: 100%; text-align: left; position: relative; }
.tablesorter th, .tablesorter th { padding: 4px; font-weight: bolder; font-size:13px; }
.tablesorter th.col3 { background-position: right center; padding-right: 20px;}
.tablesorter th.col1, .projects_table th.col2 { padding-left: 20px;}

.tablesorter tbody td { padding: 4px; vertical-align: top; }

.tags_table .col1, .tags_table .col3 { width:33%;} 
.tags_table th.col1 { background-position: left center; }
.tags_table th.col2 { background-position: center center; }
.tags_table th.col3 { background-position: right center; }
.tablesorter thead tr th { float:none; height:40px; background-image: url(/wwwroot/images/bg.png); background-repeat:no-repeat; background-position:left center;
                          cursor: pointer; }
.tablesorter thead tr .headerSortUp {	background-image: url(/wwwroot/images/asc.png); background-repeat: no-repeat; color:red;}
.tablesorter thead tr .headerSortDown {background-image: url(/wwwroot/images/desc.png); background-repeat: no-repeat; color:red;}
.tablesorter thead tr .headerSortDown, .tablesorter thead tr .headerSortUp {}

.tablesorter h3 { margin:0; font-size:120%; }
.narrowscreen .tablesorter h3 {font-size: 200%;margin:0 0 10px 0;}
table{ border-collapse:collapse; }
/* tr.odd { border-top:1px solid #a0a09f; border-bottom:1px solid #a0a09f;  } */
.pBlack .tags_table td.col1 { background: -webkit-linear-gradient(-45deg, #2b2b2b 0%, #000000 90%); }
.pBlack .tags_table td.col3 { background: -webkit-linear-gradient(-45deg, #000000 0%, #2b2b2b 90%); }

.pBlack .tags_table tr.odd .col1, .pBlack .tags_table tr.odd .col3 { background:black; }

.projects_table td.col3 { background: -webkit-linear-gradient(-45deg, #000000 66%, #2b2b2b 100%); }
.static td { background:none!important; height:0; display: none; }

.mask0x250 { max-height:250px; overflow:hidden; position: relative; display:block; }
.arrowUp { 
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 100px 100px 100px;
border-color: transparent transparent #007bff transparent;
}

.tablesorter p { margin:10px 0 0 0; }
.narrowscreen .image_src { width:25%; }

.iconImg { max-height:50px; }
td a.popInfo { text-decoration:none;}

.tablesorter th.collapsed, .tablesorter td.collapsed { display: none; }
.chkSelector { float:left; padding:2px 5px 0 5px; vertical-align:top; margin:0 5px 5px 0; background:#8dbdd8; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }

.col1, .col2 { text-align: left; }
.col3 { text-align: right; }

.projects_table .col1 { width:30%; }
.projects_table .col2 { width:40%;}
.projects_table .col3 { width:30%; }

.col2 h3 { font-size:170%; }
.tablesorter td.project_startdate { padding-top:28px; }
.projectLink { word-break:break-all; }
tr.spacer { height:15px; }
.tags_table tr { border:1px solid #000; vertical-align:middle; padding:8px;   }
.tags_table td.col1, .tags_table td.col3 { font-size:12px; }
/*.projects_table tr { border-bottom: 50px solid transparent; } off in place of reflection spacing*/
.biz_plans.projects_table tr { border-bottom: 200px solid transparent; }

.pageTotal { font-size:12px; vertical-align: baseline}
#qTagSelector, #qTagSelector option { text-transform: capitalize;
         float:left;background:black ;color: white; outline:0 none; border: 0 none; 
         font-weight: bolder; vertical-align: middle; margin:0 0 0 3px;}

.projectsTitle { margin: 10px 0;float: left;clear: both;width: 100%;vertical-align: baseline; }
.tag_key { font-size:115%; text-align: center;  }
.tablesorter .tag_key.header { background-position: center center; padding: 0;  }
.tag_key p { margin-top:-23px; text-align: center; }
.tag_date { text-align: right; }

.galleryBlock { position:relative; width:100%; margin:20px 0 }
.galleryTopBar { float:left; clear:both; width:100%; }
.galleryTopBar img { cursor:pointer; height:100px;  margin:0 0 5px 0; }
.galleryImg { position: relative; float:left; width:100%; }
.galleryImg img { width:100%; }


.userProfile .userName { margin:10px 0; font-size:37px; }
.sociallinks { margin:0; float:right; }
.sociallinks a { text-decoration: none; }
.teamInviteLink { color:red; font-size:11px; float:left; margin:7px; clear:both }

#softNotice { display:none; position:fixed; bottom:10px; right:10px; min-width:300px; max-width:600px; 
              border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; z-index: 999;
              -moz-box-shadow: 3px 3px 3px #ccc; -webkit-box-shadow: 3px 3px 3px #ccc; box-shadow: 3px 3px 3px #ccc;    
              background:rgb(100, 149, 237); }
#softNoticeBody { padding:10px; position: relative; color:#000; font-size:15px; font-weight: bolder;  }
.closeBtn { position: absolute; right: 0; top: 0; z-index: 99999; clear:none; margin:-8px -6px 0 0; text-align:center; font-weight: bold; background:red; width:20px; height:20px; 
            border-radius:10px;-moz-border-radius:10px; -webkit-border-radius:10px; 
            -moz-box-shadow: 2px 2px 2px #aaa; -webkit-box-shadow: 2px 2px 2px #aaa; box-shadow: 2px 2px 2px #aaa;    
            color:#fff; cursor: pointer; }
 #softNoticeBody a, #softNoticeBody a:visited { color:purple; }
 .projectTags { font-size: 12px; }
 
 /* PHONES */
@media only screen and (max-width : 500px) {
    .tags_table .col1, .tags_table .col3 { width:55px; }
    /* #tagLinks { width: 100%;text-align: center;margin:20px 0 10px 0;float: left;} */
    #tagLinks { position: absolute; top: 0;right: 0; padding-top:0;} 
    a.navItem { clear:right; float:right; }
    .topHeader { margin:10px 5px 20px 5px; }
    .projects_table .col1 { width:100%; }
}

/* TABLETS */
@media only screen and (min-width : 500px) and (max-width : 900px) {
    .projects_table .col1 { width:30%; }
    .projects_table .col2 { width:40%; }
    .projectTags { font-size:100%; }
}