/*
@font-face {
  font-family: 'Strait';
  font-style: normal;
  font-weight: 400;
  src: local('Strait'), local('Strait-Regular'), url(http://themes.googleusercontent.com/static/fonts/strait/v1/lUDxGkKH3HNEwBuYK6j2SQ.woff) format('woff');
}
h1,h2,h3,h4,h5,h6 { font-family:Strait,Arial,Sans-Serif;}
*/
@media print {
        body, .master  {background:#fff!important; color:#000!important;}
        .blackOutFadeBG { background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
        .technotes { background:#ccc!important;}
        .projects_table tr { border-bottom:50px solid #fff; }
}


body.pWhite, .pWhite .master  {background:#fff!important; color:#000!important;}
        .pWhite .blackOutFadeBG { background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.pWhite .technotes { background:#ccc!important;}
.pWhite .projects_table tr { border-bottom:50px solid #fff; }
.pWhite .projects_table td.col3 { background: none; }

a, a:visited, .alink { color:#5B74CF; }
body { background:#000; color:#fff; font-family:Calibri, Arial, Sans-Serif; margin:0; }
ul, li { list-style: none; margin:0; padding:0; }
.page a, .page a:visited { color:#ED2024 }

#navMenu a, #navMenu a:visited, #navMenu a:hover { border:0 none; outline:0 none; padding:0; margin:0; }
#menuList a, #menuList a:visited, #menuList a:hover { text-decoration:none; color:#fff; } 
#menuList img { border:0 none;}
.clearer { float:left; position:relative; clear:both; width:100%; height:1px; }
#tmmCube { position:absolute; background:transparent url(/wwwroot/images/tumble_sprite.png) no-repeat top left; width: 100px; height:100px; overflow: hidden; margin:0; }
#tmmOpening { position:absolute; background:transparent url(/wwwroot/images/open_sprite.png) no-repeat top left; width: 100px; height:90px; overflow: hidden; top:50px; left:50px; margin:0; z-index:100;}

.page {  float:right; clear:none; margin:40px 20px 5px 0; padding:5px; width:40%; border:1px solid #fff; } 
.pageTitle { margin:-30px 0 0 0; clear:both; position: relative; }
.pageBlock { text-align: justify; height:100%; clear:both; position: relative; overflow-y:auto; margin:0 10px 0 10px; }
.postDate { float: right; font-size: 16px; vertical-align: bottom; color: red; }
#pageImg, #taPreloader {  position:fixed; bottom:5px; left:50px; margin:0; z-index:1; }

#navMenu { float:left; position:fixed; clear:none; left:0; margin:57px auto 20px 60px; padding:0; z-index:101; }
#menuLabel { position:absolute; width:100%; bottom:5px; left:3px; font-size:22px; font-weight: bolder; margin:5px 0 0 5px; 
        font-size:15px; font-weight: bolder; width:100%; letter-spacing: 2px; }
#menuList { float:left; clear:both; position: relative;  margin:8px 0 0 8px; }
#menuList li { padding: 5px; }
#menuList li img { height:20px; float:left; margin-right:7px; }

.menuBox > img { opacity:.50; filter:alpha(opacity=50); width:100%; }
.menuBox, .menuEmpty { background: none; position:relative; float:left; width:18px; height:18px; margin:0; cursor:pointer; padding:0; }
.menuBox { border:1px solid #fff; overflow: hidden; }
.menuBox.menuEmpty { border:none; cursor:pointer; overflow:visible;}

a.navItem { margin:5px 15px 5px 15px; }
.narrowscreen a.navItem { margin:5px 3px;}
a.navItem.selected { color:red; }

.lineName { font-style: italic; color:#a0a09f;}
.technotes { padding:10px; margin:15px 0 15px 0; border:1px solid #a0a09f; display:block; font-family:courier, monospace; font-size: 12px; line-height: 18px; }
.technotes p { margin:5px 0; list-style:circle; }
.technotes li { margin: 5px 0 0 15px; list-style:square; list-style-position: outside; }
.prjDesc { font-size: 12px; line-height: 18px; text-align:justify; }
.technotes { background:#090909;  }

.projectImg { width: 100%; }
.projectImgMask { width:100%; overflow: hidden; max-height:300px; position:relative;}
.projectImgMask a { outline: 0 none; border:0 none; }
.blackOutFadeBG {
    height: 60px; /*from where it starts to fade to where it ends*/
    position: absolute; /*so it can overlap the #container*/
    width: 100%; /*has to be the same as #container*/
    bottom:0; /*position it right at the bottom of the #container*/
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.narrowscreen .moduleBlock { padding:0 5px;}

/* .menuBox:hover { border-style:outset; } */

.hl_menu { text-align: left; }

#navMenu .menuEmpty:last { width:auto; height:auto; }

#menuBtn { position: absolute; bottom:3px; right:5px; cursor:pointer; font-size:9px; font-weight: bolder; margin:5px 0 0 5px; letter-spacing: 2px; color:#ED2024;  }
#closeBtn { position:absolute; right:3px; top:5px; cursor:pointer; font-size:9px; font-weight: bolder; letter-spacing: 2px; }

.mainNav {margin:30px 0 35px 0;text-align: center;}

#navMenu .tc{ clear:none; }        
#navMenu .ll{ clear:left; }        
#navMenu .lc{ clear:none; border:none; }        
#navMenu .rc{ clear:none; }        
#navMenu .rr{ clear:right; }       
#navMenu .bc{ clear:none; }        

.optionsHeader { margin-top:-30px;}
.pItem { margin:10px 0 10px 0; padding:0; clear:both; }
.pItem h3 { margin:0; padding:0; font-size:110%; font-weight:lighter; }
.pItem h4 { color:#ED2024; margin:0; padding:0; font-size:90%; font-weight:lighter; }
.pItem p {margin:0 0 10px 0; line-height:25px;}
.pItem .firstPara { margin-top:10px;}
.redtxt { color:#ED2024; }
.graytxt { color:#6D6D6D; }

.thWrap { width:50px; float:left; clear:none; margin:0 5px 5px 0; }
.thWrap img {width:50px; margin:0 5px 5px 0;}

/* override for mobile / isMobie devices */
body.isMobile > .page { margin:20px auto 10px auto; clear:both; float:none; position:relative; width:100%; max-width:auto; } /* width is set explicitly by js */
body.isMobile > #navMenu { position:relative; float:left; margin-bottom:20px; left:auto; }
body.isMobile > #pageImg, body.isMobile > #taPreloader { position:relative; float:right; clear:right; margin:10px 5px 20px auto; left:auto; }

@media only screen and (min-width : 300px) and (max-width : 800px) {
    body.isMobile > .page { width:91%; }
    body.isMobile > #pageImg { width:100%; }
}

.pageSnap { width:100%; clear:both; position:relative; margin:5px auto; }

.list { margin:20px; list-style:disc; }

.starSprite { background:transparent url(http://trackauthoritymusic.com/wwwroot/images/characterRotateSprite.png?v=1358932174) 0 0 no-repeat; padding:0; overflow:hidden; width:175px; height:175px; z-index:9999999; }

/* Author : Eli A. Taylor */
.narrowscreen .master { width:100%!important; max-width:100%!important;}
.widescreen .master { width:100%; max-width: 1000px; margin: 0 auto; }

.mainMenu .navRow:first-child { border-radius:10px 0 0 0; -moz-border-radius:10px 0 0 0; }
.mainMenu .navRow:last-child { border-radius:0 10px 0 0; -moz-border-radius:0 10px 0 0; }
.mainMenu .navRow { background:#242424; color:#fff; font-size:15px; vertical-align: middle; padding-top:4px; padding-bottom:4px;  }
.mainMenu .navRow a { color: #fff; }

/* tables */
table .header { width:auto; color:#a0a09f;}

.tablesorter { margin:10px 0 15px 0; font-size: 8pt; width: 100%; text-align: left; position: relative; }
.tablesorter th, .tablesorter th { font-size: 8pt; padding: 4px; font-weight: bolder; }
.tablesorter th.col3 { background-position: right center; padding-right: 20px;}
.tablesorter th.col1, .projects_table th.col2 { padding-left: 20px;}

.tablesorter tbody td { padding: 4px; vertical-align: top; }

.tags_table th.col1 { background-position: left center;  }
.tags_table th.col2 { background-position: center center; }
.tags_table th.col3 { background-position: right center; }
.tablesorter .header { }
.tablesorter thead tr th { float:none; height:40px; background-image: url(/wwwroot/images/bg.png); background-repeat:no-repeat; background-position:left center;
                          cursor: pointer; }
.tablesorter thead tr .headerSortUp {	background-image: url(/wwwroot/images/asc.png); background-repeat: no-repeat; color:red;}
.tablesorter thead tr .headerSortDown {background-image: url(/wwwroot/images/desc.png); background-repeat: no-repeat; color:red;}
.tablesorter thead tr .headerSortDown, .tablesorter thead tr .headerSortUp {}

.tablesorter h3 { margin:0; font-size:120%; }
.narrowscreen .tablesorter h3 {font-size: 200%;margin: 10px 0;}
table{ border-collapse:collapse; }
/* tr.odd { border-top:1px solid #a0a09f; border-bottom:1px solid #a0a09f;  } */
.pBlack .tags_table td.col1 { background: -webkit-linear-gradient(-45deg, #2b2b2b 0%, #000000 90%); }
.pBlack .tags_table td.col3 { background: -webkit-linear-gradient(-45deg, #000000 0%, #2b2b2b 90%); }

.pBlack .tags_table tr.odd .col1, .pBlack .tags_table tr.odd .col3 { background:black; }

.projects_table td.col3 { background: -webkit-linear-gradient(-45deg, #000000 66%, #2b2b2b 100%); }

.narrowscreen tr { background: -webkit-linear-gradient(-45deg, #000000 77%, #2b2b2b  100%); padding:10px 0; }

.narrowscreen .col1, .narrowscreen .col3 { width:20%; }
.narrowscreen .col2 { width:60%; }

.static td { background:none!important; height:0; display: none; }

.arrowUp { 
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 100px 100px 100px;
border-color: transparent transparent #007bff transparent;
}

.tablesorter p { margin:3px 0 0 0; }
.narrowscreen .image_src { width:25%;}

.iconImg { max-height:50px; }
td a.popInfo { text-decoration:none;}

.tablesorter th.collapsed, .tablesorter td.collapsed { display: none; }
.chkSelector { float:left; padding:2px 5px 0 5px; vertical-align:top; margin:0 5px 5px 0; background:#8dbdd8; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }

.col1, .col2 { text-align: left; }
.col3 { text-align: right; }

.projects_table .col1 { width:30%; }
.projects_table .col3 { width:20%; }
.projects_table .col2 { width:50%;}

.col2 h3 { font-size:200%; }
.tablesorter td.project_startdate { padding-top:28px; }
.projectLink { word-break:break-all; }
tr.spacer { height:15px; }
.tags_table tr { border:1px solid #000; vertical-align:middle; padding:8px;   }
.tags_table td.col1, .tags_table td.col3 { font-size:12px; }
.projects_table tr { border-bottom:50px solid #000; }

.pageTotal { font-size:12px; vertical-align: baseline}
#qTagSelector, #qTagSelector option { text-transform: capitalize;
         float:left;background:black ;color: white; outline:0 none; border: 0 none; 
         font-weight: bolder; vertical-align: middle; margin:0 0 0 3px;}

.projectsTitle { margin: 10px 0;float: left;clear: both;width: 100%;vertical-align: baseline; }
.tag_key { font-size:130%; text-align: center;  }
.tablesorter .tag_key.header { background-position: center center; padding: 0;  }
.tag_key p { margin-top:-23px; text-align: center; }
.tag_date { text-align: right; }
.tags_table th, .tags_table td { width:33%;}

.galleryBlock { position:relative; width:100%; margin:20px 0 }
.galleryTopBar { float:left; clear:both; width:100%; }
.galleryTopBar img { cursor:pointer; height:100px;  margin:0 0 5px 0; }
.galleryImg { position: relative; float:left; width:100%; }
.galleryImg img { width:100%; }